@model IEnumerable<Eventos.IO.Application.ViewModels.EventoViewModel>

@{
    ViewData["Title"] = "Eventos";
}

<h1>Lista de Eventos</h1>

<p>
    <a asp-action="Create">Criar Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descricão Curta</th>
            <th>Descricão Longa</th>
            <th>Dt. Início</th>
            <th>Dt. Fim</th>
            <th>Gratuito?</th>
            <th>R$ Valor</th>
            <th>Online?</th>
            <th>Empresa</th>
            <th>Categoria</th>
            <th>OrganizadorId</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoLonga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gratuito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Online)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDaEmpresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizadorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhe</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
