@model IEnumerable<Eventos.IO.Application.ViewModels.EventoViewModel>

@{
    ViewData["Title"] = "Eventos";
}

<h1>Lista de Eventos</h1>

<p>
    <a asp-action="Create">Criar Evento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Dt. Início</th>
            <th>Dt. Fim</th>
            <th>R$ Valor</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @{
                    if (item.Gratuito)
                    {
                       @Html.DisplayName("Gratuito")
                    }
                    else
                    {
                       @Html.DisplayFor(modelItem => item.Valor)
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalhe</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
