@model IEnumerable<Eventos.IO.Application.ViewModels.EventoViewModel>

@{
    ViewData["Title"] = "Eventos";
}

<h1>Lista de Eventos</h1>

<div>
    <div class="coll-md-12">
        <div class="pull-left">
            <a asp-action="Create" class="btn btn-primary">
                <span title="Novo Evento" class="fas fa-plus"></span> Novo
            </a>
        </div>
    </div>
</div>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Dt. Início</th>
            <th>Dt. Fim</th>
            <th>Valor R$</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    @{
                        if (item.Gratuito)
                        {
                            @Html.DisplayName("Gratuito")
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Valor)
                        }
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary fas fa-edit fa-1x"></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary fas fa-info-circle fa-1x"></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger fas fa-trash fa-1x"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
